/* .pending-requests-container {
    padding: 20px;
  }
  
  .requests-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .requests-table th, .requests-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .requests-table th {
    background-color: #f4f4f4;
  }
  
  .requests-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .requests-table input {
    padding: 5px;
    margin-right: 5px;
    width: 150px;
    box-sizing: border-box;
  }
  
  .requests-table .actions {
    display: flex;
    align-items: center;
  }
  
  .requests-table .actions input {
    margin-right: 5px;
    flex: 1;
  }
   */
/* 
   .pending-requests-container {
    padding: 20px;
  }
  
  .requests-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .requests-table th, .requests-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .requests-table th {
    background-color: #f4f4f4;
  }
  
  .requests-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
   */


.pending-requests-container {
  padding: 20px;
  max-width: 100%;
  overflow: auto;
}

.table-wrapper {
  max-height: calc(100vh - 200px);
  /* Adjust height based on your header/footer */
  /* overflow: auto; */
  border: 1px solid #ddd;
}

.requests-table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
  color: white;
}

.requests-table th,
.requests-table td {
  border: 1px solid #ddd;
  padding: 8px;
  color: white;
}

.requests-table th {
  background-color: #f4f4f4;
}

.requests-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-wrapper::-webkit-scrollbar {
  width: 8px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}



.pending-requests-container {
  padding: 20px;
  min-width: 100vw-200px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.requests-table {
  width: 100%;
  border-collapse: collapse;
}

.requests-table th,
.requests-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.requests-table th {
  background-color: #f4f4f4;
}

.requests-table tr:nth-child(even) {
  background-color: #f9f9f9;
} 

/* Style for Approve and Reject buttons */
.approve-button,
.reject-button {
  padding: 6px 12px;
  margin-right: 8px;
  margin-bottom: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.approve-button {
  background-color: #4CAF50;
  /* Green */
  color: white;
}

.approve-button:hover {
  background-color: #45a049;
}

.reject-button {
  background-color: #f44336;
  /* Red */
  color: white;
}

.reject-button:hover {
  background-color: #d32f2f;
}

.loading {

  display: flex;
  justify-content: center;
  align-items: center;
}